@model ProjetoCardapio.Models.Salas

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Você quer deletar essa Sala?</h3>
<div>
    <h4>Salas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeSalas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeSalas)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> 
        <a class="btn btn-danger" asp-action="Index">Voltar</a>
    </form>
</div>
