html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F9F9F9;
}

.navbar {
    padding: 0 !important;
    
}
.navbar-brand {
    padding: 0 !important;
    
}
.navbar-brand img {
    height: 60px;
}
.container-fluid {
    background-color: #ED1C24;
}
.text-center {
    background-color: #F4F3F3;
    margin-top: 60px;
    height: 690px;
    border-radius: 30px;
}
.text-center h1 {
     display: block; 
     font-size: 65px;
     padding-top: 20px;
}
    .text-center a {
        padding-top: 2px;
        display: block;
        font-size: 38px;

    }
    .text-center img {
        height: 390px;
        border-radius: 30px;
        width: 660px;
        display: flex;
        margin: auto;
        margin-top: 20px;
    }
.nav-item{
    margin-right: 65px;
    margin-left: 100px;
    display: flex;
    font-size: 22px;
    color: white;
}
.tabela-escuro {
    background-color: #EFEEEE;
}
.tabela-botoes {
    background-color: #F5F5F5;
    margin-top: 50px;
}

.spacing-botoes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}
.spacing-botoes .item {
    flex: 1;
    display: block;
    width: 2%;
    text-align: center;
}